# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Python cache
.pytest_cache/

# Chroma Database
data/chroma_db/

# OS
.DS_Store
Thumbs.db

# Hugging Face cache (opcional)
.cache/